* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F4D04E;
    min-height: 100vh;
}

/* ================= links ================= */
a {
    text-decoration: none;
}

a:active,
a:focus {
    color: #F4D04E;
}

@media (min-width: 1024px) {
    a:hover {
        color: #F4D04E;
    }
}

h1 a {
    color: #111;
}


.tag a:active,
.tag a:focus {
    color: white;
}

@media (min-width: 1024px) {
    .tag a:hover {
        color: white;
    }
}

.author-profile {
    color: #111;
    display: inline-flex;
    
}

footer a {
    color: white;
    text-decoration: underline;
}

/* ================= article ================= */
article {
    max-width: 329px;
    background-color: white;
    border: 1px solid #111;
    box-shadow: 8px 8px 0px 0px #000;
    border-radius: 20px;
    padding: 24px;
    margin: auto;
}

@media (min-width: 1024px) {
    article {
        max-width: 384px;
    }
}

.illustration {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 24px;
}

/* ================= .article-text ================= */

.article-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
    align-content: flex-start;
}

/* ================= article-text typography ================= */

article {
    color: #111;
    line-height: 150%;
}

h1 {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 1.5rem;
    }
}

.time,
.tag a {
    font-size: 0.75rem;
    line-height: 1.5;
}

@media (min-width: 1024px) {
    .time,
    .tag a {
        font-size: 0.875rem;
        line-height: 1.5;
    }
}

.text,
figure {
    font-size: 0.875rem;
}

.time,
.text {
    font-weight: 500;
}

.tag a {
    font-weight: 800;
    color: #111111;
    background-color: #F4D04E;
    border-radius: 4px;
    align-self: flex-start;
    padding: 4px 12px;
}

.text {
    color: #6B6B6B;
}

@media (min-width: 1024px) {
    .text {
        font-size: 1rem;
    }
}

figure {
    font-weight: 800;
}


/* ================= figure ================= */

figure {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}


figure img {
    width: 32px;
    height: auto;
    border-radius: 50%;
}

/* ================= footer ================= */

footer {
    font-size: 0.6rem;
    text-align: center;
    color: white;
    background-color: #302d2c;
    width: 100%;
    padding: 0.25rem;
}